<% if @check_message > 1 %>
	$(".registered_items").val("<%= @new_value %>");
	$("#field2 .check").html("<img src='/assets/admin/ok.png'>");
<% else %>
	alert("Produto indisponível!");
	$("#field2 .check").html("<img src='/assets/admin/not.png'>");
<% end %>

<% if @new_image == nil %>
  $("#show-last-item").html("<h1 style='text-align:center;margin-top:150px;font-size:3em;'>SEM IMAGEM</h1>");
<% else %>
  $("#show-last-item").html("<img src='<%= @new_image %>' />");
<% end %>

$("#stock_items").val("<%= @new_value %>");
$("#stock_items").focus();